<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Amp">
            <directory>test</directory>
            <!-- Remove tags below once PHP 7.0 is required -->
            <exclude>test/ExtendedCoroutineTest.php</exclude>
            <file phpVersion="7.0.0">test/ExtendedCoroutineTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="build/coverage" title="Icicle" highlight="true"/>
    </logging>
</phpunit>