<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./lib</directory>
        </whitelist>
    </filter>

    <logging>
<!--
        <log
            type="coverage-html"
            target="./test/coverage"
            charset="UTF-8"
            yui="true"
            lowUpperBound="35"
            highLowerBound="70"
            showUncoveredFiles="true"
        />
-->
        <log
            type="coverage-text"
            target="php://stdout"
            lowUpperBound="35"
            highLowerBound="70"
        />

    </logging>
</phpunit>
